﻿@model CBooking.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="main-header">
        CBooking /Books Listing
        <span class="destaque">/Delete</span>
    </div>
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bookname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <input type="submit" value="Delete" class="btn btn-danger" />   
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </form>
</div>
