﻿@model CBooking.Models.Book

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="main-header">
        CBooking /Books Listing
        <span class="destaque">/Details</span>
    </div>
</div>
<p>
    <a class="btn btn-default" style="float:right; " asp-action="Index">Back to List</a>
    <a class="btn btn-warning" style="float:right; margin-right:5px;"asp-action="Edit" asp-route-id="@Model.BookId">Edit</a>
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bookname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
