﻿@model IEnumerable<CBooking.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="main-header">
        CBooking
        <span class="destaque">/Books Listing</span>
    </div>
</div>

<p>
    <a class="btn btn-default" style="float:right;" asp-action="Create">Add a Book</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th style="float:right; margin-right:149px;">Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bookname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a class="btn btn-danger" style="float:right; margin-right:5px" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                        <a class="btn btn-default" style="float:right; margin-right:5px" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                        <a class="btn btn-default" style="float:right; margin-right:5px" asp-action="Details" asp-route-id="@item.BookId">Details</a>

                    </td>
                </tr>
            }
        </tbody>
</table>
