﻿@model CBooking.Models.Librarian

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="main-header">
        CBooking /History
        <span class="destaque">/Details</span>
    </div>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Bookname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LibrarianId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
