﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CBooking</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-fixed-top" style="background-color: #d9edf7;">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="font-size:20px;"><i class="fa fa-book" aria-hidden="true"></i> CBooking : Library Management System</a>
        
    </nav>
    <!--Sidebar-->
    <div class="navbar navbar-fixed-left" style="background-color: #d9edf7;">
            <div class="navbar" style="width:100px;">
                <ul class="nav navbar-nav" style="font-size:16px; text-   ">
                    <a asp-area="" asp-controller="Manages/Create" asp-action="Index" class="btn btn-default" style="width:85%;height:40px;padding-top:7px; margin-left:12px;margin-top:16px; font-size:18px;"><b>Add New</b></a>
                    <hr />
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Manages" asp-action="Index">Manage</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Books" asp-action="Index">Book Listing</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Librarians" asp-action="Index">History</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Users" asp-action="Index">Customers</a>
                    </li>
                </ul>
            </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - CBooking</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
