﻿@model CBooking.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="main-header">
        CBooking /Customers
        <span class="destaque">/Details</span>
    </div>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
