﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    z-index:999;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    padding-left: 200px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 200px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-fixed-left {
    width: 170px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 170px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

a {
    color: #f88;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
li{
    text-align:center;
}

.grafico {
    min-width: 310px;
    max-width: 400px;
    height: 280px;
    margin: 0 auto
}

.main-header {
    font-size: x-large;
    color: #888;
    font-family: Verdana;
    margin-bottom: 20px;
}

.destaque {
    color: #f88;
    font-weight: bolder;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}
.container{
    z-index:-99;
}