﻿@model CBooking.Models.Manage

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="main-header">
        CBooking /Manage
        <span class="destaque">/Delete</span>
    </div>
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Manage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManageDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManageDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Bookname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ManageId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
